{% extends 'layout.html' %}
{% block content %}
<div class="container mt-3">
  <h1>ましろんスタンプカード</h1>
  <p>#凪のバケーション をつけて投稿するとスタンプがもらえます。</p>
  {% if user_id %}
  <p>
    @{{ username }}としてログイン中です。
  </p>
  <form class="container mx-3" action="/calender" method="post">
    <label class="row my-3">
      <div class="col-md-3 col-form-label">
        名前を入力:
      </div>
      <div class="col-md-9">
        <input type="text" name="name" id="" class="form-control">
      </div>
    </label>
    {% if image %}
      <div class="p">作成されたスタンプカード</div>
      <p>
        <a href="{{ image }}" download="mashiro-calender.png" class="btn btn-outline-primary">画像を保存する</a>
      </p>
      <img width="500" src="{{ image }}" alt="" srcset="">
    {% endif %}
    <div class="row my-3">
      <button class="btn btn-primary">
        カレンダーを生成する
      </button>
    </div>
    <div class="row">
      <a href="/logout" class="btn btn-danger col-md-3">ログアウト</a>
    </div>
  </form>
  {% else %}
  <p>
    このボタンからログインしてください。
  </p>
  <a href="/sign_in" class="my-2">
    <img src="{{ url_for('static', filename='images/sign-in-with-twitter-gray.png.twimg.1920.png') }}" alt="sign-in-with-twitter" srcset="">
  </a>
  {% endif %}
</div>
{% endblock %}
